* {
    margin: 0%;
    padding: 0%;
}
/* Dropdown Menu */
body {
    background-color: rgb(104, 132, 84);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    width: 100%;
    height: 74px;
    background-color:rgb(154, 175, 152);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}

body h2 {
    float: left;
    padding-top: 23px;
    padding-left: 25px;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    font-family: Arial;
    color: #272727;
    text-decoration: none;
    padding: 28px;
    display: block;
}

nav ul li a:hover{
    background-color: rgb(92, 133, 73);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}
nav ul li ul {
    position: absolute;
    display: none;
    background-color:  rgb(117, 137, 108) ;
    padding: 0.4px;
    border-radius: 0px 0px 10px 10px;
}

nav ul li:hover ul {
    position: absolute;
    display: block;
    background-color:  rgb(92, 133, 73);
    padding: 0.4px;
    border-radius: 0px 0px 10px 10px;
}

nav ul li ul li .link{
    color: #272727;
    padding: 16px 20px;   
    border-radius: 10px; 
    
}

nav ul li ul li .link:hover {
    background-color: grey;
}
/* Bis hier Dropdown Menu*/

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 800;
    
}
.title2 {
    color:white;
    padding-left: 350px;
}

.link {
    color: rgb(255, 255, 255);
}

p {
    text-align: center;
}


img {
    
    width: auto;
    height: 300px;
    display: block;
    margin: 100px auto auto auto;
    box-shadow: 0 0 8px 8px white;
}

/* Zurück Button*/
.back {
    
    
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px auto 0px auto;
    font-size: 100%;
    font-weight: bold;
    color:antiquewhite;
    text-align: center;
    align-self: center;
    text-decoration: none;
    display: block;
    background-color: rgb(154, 175, 152);
}

.back:hover {
    background-color: #272727;

}
/* Zurück Button*/
